<div id="act">
<table width="100%">
<tr><td></td><td align="right">Приложение №1</td></tr>
</table>    
    <h1>АКТ<br>ОБ ОКАЗАНИИ УСЛУГ</h1>
<p>ИСПОЛНИТЕЛЬ
{{contract.office.tour_agency.full_name}}
, в лице Директора
{{contract.signatory.full_name_r}}
и КЛИЕНТ 
{{contract.client.get_full_name}}
, настоящим актом подтверждают, что исполненные услуги соответствуют условиям договора №
{{contract.contract_date|date:"my" }}-{{contract.contract_num}}
от {{contract.contract_date}} 
<p>Взаиморасчеты произведены в сумме {{contract.get_contract_sum_string}}. Стороны друг к другу претензий не имеют.
<p>Настоящий акт составлен в двух экземплярах.

<p>Документы получил _____________________ / {{contract.client.get_full_name}} / {{contract.doc_issue_date}} г.
<br><br>
<table width="100%">
<tr>
    <td width="50%">
        ИСПОЛНИТЕЛЬ: {{contract.office.tour_agency.short_name}}<br>
        ИНН/КПП: {{contract.office.tour_agency.inn}}/{{contract.office.tour_agency.kpp}}<br>
        Р/счет: {{contract.office.tour_agency.account}}<br>
        К/счет: {{contract.office.tour_agency.corr_account}}<br>
        Юр. адрес: {{contract.office.tour_agency.post_address}}<br>
        Факт. адрес: {{contract.office.tour_agency.fact_address}}<br>
        Тел.: {{contract.office.tour_agency.phone}}<br>
        E-mail: {{contract.office.tour_agency.email}}<br>
        <br><br>
        
        Директор:________________________/{{contract.office.tour_agency.director.get_fio}}/
    </td>
    <td>
        КЛИЕНТ: {{contract.client.get_full_name}}<br>
        Паспорт: {{contract.client.passport_num}}<br>
        Выдан: {{contract.client.passport_date}} {{contract.client.passport_issued_by}}<br>
        Адрес: {{contract.client.address}}<br>
        Телефон: {{contract.client.phone}}<br>
        E-mail: {{contract.client.email}}<br>
        С условиями договора, правилами аннуляции, программой тура, условиями мед. страхования ознакомлен, памятку туриста получил:<br>
        <br><br>
        ________________________/{{contract.client.get_fio}}/
    </td>
</tr>
</table>
</div>