<div id="contract">
<h1>Договор оказания услуг № {{contract.contract_date|date:"my" }}-{{contract.contract_num}}</h1>
<table width="100%">
<tr><td>{{ contract.office.office_city }}</td><td align="right">{{contract.contract_date}}</td></tr>
</table>
<p>{{contract.office.tour_agency.full_name}}
, именуемое в дальнейшем «Исполнитель», в лице директора
{{contract.signatory.full_name_r}}
, с одной стороны, и  
{{contract.client.get_full_name}}
, именуемый (ая) в дальнейшем «Клиент», с другой стороны, заключили настоящий договор о нижеследующем:</p>
<h2>1. ПРЕДМЕТ ДОГОВОРА</h2>
<p>1.1. Исполнитель, по поручению Клиента, за вознаграждение  принимает на себя обязательства  по бронированию, оплате, получению и передаче Клиенту выездных документов (ваучера, авиабилета, страховки) для осуществления туристической поездки в порядке и на условиях, изложенных в настоящем договоре, а Клиент обязуется оплатить подобранный и заказанный им тур в соответствии с ценой договора.</p>
<h2>2. ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ.</h2>
<p>2.1. Исполнитель, по поручению Клиента обязуется в соответствии с настоящим договором забронировать туристическую   поездку у туроператора
{{contract.tour_operator}}
, в страну 
{{contract.resort.country}}
, город (курорт) 
{{contract.resort}}
, начиная с 
{{contract.tour_begin_date|date:"«d» E Y" }}
года по
{{contract.tour_finish_date|date:"«d» E Y" }}
года для следующих туристов:</p>
<table width="100%">
<tr><th>Фамилия, имя туриста (латиница)</th><th>Дата рождения</th><th>Номер паспорта (загр.)</th><th>Срок действия паспорта</th></tr>
{% for tourist in contract.tourist_list.all %}
    <tr><td>{{ tourist.international_name }}</td><td>{{ tourist.birthdate }}</td><td>{{ tourist.international_passport }}</td><td>{{ tourist.international_passport_date_of_expiry }}</td></tr>
{% endfor %}
</table>
Туроператором по данному туру является
{{contract.tour_operator.short_name}}<br>
Реестровый номер:
{{contract.tour_operator.registry_num}}<br> 
Полное наименование:
{{contract.tour_operator.full_name}}<br>
Адрес (место нахождения):
{{contract.tour_operator.fact_address}}<br>
Почтовый адрес:
{{contract.tour_operator.post_address}}<br>
Адрес официального сайта в сети "Интернет":
{{contract.tour_operator.www_address}}<br>
Членство туроператора, осуществляющего деятельность в сфере выездного туризма, в объединении туроператоров в сфере выездного туризма:
{{ contract.tour_operator.tourpom_member|yesno:"Да,Нет" }}<br>
ИНН:
{{contract.tour_operator.inn}}<br>
ОГРН:
{{contract.tour_operator.ogrn}}
<br><br>
Финансовое обеспечение<br>
Общий размер финансового обеспечения:<br>
Документ:<br>
Сфера туроператорской деятельности:<br>
Размер финансового обеспечения:<br>
Способ финансового обеспечения:<br>
Документ:<br>
Срок действия финансового обеспечения:<br>
Наименование организации, предоставившей финансовое обеспечение:<br>
Адрес (место нахождения) организации, предоставившей финансовое обеспечение:<br>
Почтовый адрес организации, предоставившей финансовое обеспечение:
</p>
<br>
<p>2.2. В организацию поездки (заказанные Клиентом услуги) входит:
<p>2.2.1 Авиабилет(ы) (Автобус)  по маршруту Москва – Пхукет - Москва
<p>2.2.2.Проживание в отеле
«{{contract.hotel_name}}»
, в период с
{{ contract.hotel_begin_date|date:"«d» E Y" }}
года по
{{ contract.hotel_finish_date|date:"«d» E Y" }}
года, тип номера
{{ contract.room_type }}
, питание в отеле
{{ contract.board }}
, срок нахождения в отеле {{contract.get_hotel_nights}} ночей.
<p>2.2.3. Трансфер (перевозка наземным транспортом)
{{ contract.tour_operator.transfer|yesno:"Да,Нет" }}
<p>2.2.4. Экскурсионная программа
{{ contract.excursion|yesno:"Да,Нет" }}
<p>2.2.5. Встреча и проводы с русскоговорящим гидом
{{ contract.russian_guide|yesno:"Да,Нет" }}
<p>2.2.6. Визовая поддержка
{{ contract.visa_support|yesno:"Да,Нет" }}
<p>2.2.7. Медицинская страховка
{{ contract.medical_insurance|yesno:"Да,Нет" }}
. Страхование от невозможности совершения поездки или прерывания ее (страховка от невыезда)
{{ contract.non_departure_insurance|yesno:"Да,Нет" }}
. Последствия не приобретения страховки от невыезда, а также наступления последствий действий третьих лиц, за которые ни одна из сторон не отвечает, Клиенту разъяснены.</p>
<p>2.2.8. Дополнительные услуги
{{ contract.tour_operator.tourpom_member|yesno:"Да,Нет" }}</p>
<p>2.3. Цена Договора составляет  {{contract.get_contract_sum_string}}.</p>
<p>Во всем остальном Исполнитель и Клиент руководствуются законодательством РФ.</p>
<h2>3. ОБЯЗАННОСТИ КЛИЕНТА</h2>
<p>Клиент обязуется:
<p>3.1. Произвести предоплату / оплату тура в размере
{{contract.get_prepayment_sum}}/{{contract.get_postpayment_sum}}
руб.
<p>3.2. Оплатить полную стоимость тура в течение 2 банковских дней после подтверждения тура;
<p>3.3. Предоставить Исполнителю  действительный заграничный паспорт и все необходимые достоверные документы для оформления визы не позднее, чем за 7  суток до начала тура;
<p>3.4. Прибыть в аэропорт на регистрацию не позднее чем, за 3 часа до вылета самолета для самостоятельного прохождения пограничного и таможенного контроля;
<p>3.5. Соблюдать пограничные и таможенные правила РФ и посещаемой страны, правила авиакомпании по провозу багажа;
<p>3.6. Оплатить до выезда из отеля счета за пользование мини-баром в номере, телефонные переговоры, и другие дополнительные услуги отеля;
<p>3.7. Соблюдать во время путешествия правила личной безопасности;
<p>3.8. Клиент берет на себя всю ответственность, включая финансовую, за любые совершенные им действия или решения, принимаемые в ходе поездки, а также несет ответственность за соблюдение законодательства страны пребывания.
<p>3.9. Произвести доплату в случае внесения изменений Туроператором по объективным причинам в стоимость туристского продукта.
<p>3.10. Не позднее чем за 2 дня до начала поездки связаться с Исполнителем для уточнения даты и времени вылета.
<p>Во всем остальном Исполнитель и Клиент руководствуются законодательством РФ.</p>
<h2>4.  УСЛОВИЯ ИСПОЛНЕНИЯ ПОРУЧЕНИЯ</h2>
<p>Исполнитель обязан:<br>
<p>4.1.Сообщить Клиенту о бронировании и подтверждении заказанных услуг  у Туроператора. Срок подтверждения заказанных услуг устанавливается в три рабочих дня с момента  бронирования.<br>
<p>В случае не подтверждения заказанных Клиентом услуг, настоящий Договор считается незаключенным. В этом случае денежные средства, переданные  Клиентом Исполнителю, возвращаются ему в полном объеме. Получение информации о подтверждении (либо не подтверждении) является обязанностью Клиента.
<p>4.2. Клиент предупрежден, что при оказании визовой поддержки, в тех случаях, когда это необходимо, консульства могут потребовать для оформления визы предоставление доказательств намерения Клиента посетить страну временного пребывания (авиабилет, страховку, ваучер и т.п.). В случае необходимости Клиент обязуется прибыть лично (и обеспечить явку следующих с ним туристов) на собеседование в консульство страны назначения в сроки, указанные Исполнителем или Туроператором. Отказ от собеседования считается отказам от поездки с удержанием понесенных затрат согласно п. 5.2. настоящего Договора.
<p>Клиент предупрежден, что при подаче документов на визу в срок меньше установленного консульством, своевременное получение визы не гарантируется ни Исполнителем,  ни Туроператором. Исполнитель и Туроператор, у которого забронирован турпакет, не несут за это ответственности, и Клиент согласен относить в данном случае все фактически понесенные расходы на свой счет.
Отказ в выдаче въездной визы консульством иностранного государства не является форс-мажорным обстоятельством. Любые расходы, фактически понесенные, и связанные с таким отказом производятся за счет самого Клиента.
<p>4.3. Перевозка Клиента по настоящему Договору выполняется по правилам перевозчика (авиакомпании и пр.). Компания-перевозчик оставляет за собой право перенести время вылета чартерного рейса. Билет Клиента является договором с перевозчиком, в соответствии, с которым всю ответственность за перевозку несет перевозчик по правилам перевозчика. Клиент предупрежден, что стоимость чартерных авиабилетов и авиабилетов на регулярные рейсы с невозвратным тарифом не возвращается независимо от срока отказа от тура.
<p>4.4. Турист может обратиться за оказанием экстренной помощи к объединению туроператоров: Москва, ул. Мясницкая, д. 47, тел. +7 (499) 678-12-03, Email:  secretary@tourpom.ru, при этом право требования страхового возмещения переходит к объединению.
<p>4.5. Незнание Клиентом законов или обычаев страны пребывания не освобождает его от ответственности при их нарушении. Гид или сопровождающий не является комментатором закона и не разделяет ответственность по чужому действию или бездействию.
<p>4.6. Туроператор,  у которого забронирован турпакет,  оставляет за собой право, в случае необходимости, заменить отель, указанный заранее, на отель той же, либо более высокой категории.
<p>4.7. Клиент предупрежден об условиях штрафных санкций  Туроператора, у которого забронирован турпакет. В момент подписания настоящего договора Клиент получил информацию о потребительских свойствах туристического продукта, о программе пребывания, маршруте и об условиях путешествия, включая информацию о средствах размещения, об условиях проживания (месте нахождения средства проживания, его категории) и питания, услугах по перевозке Клиента в стране временного пребывания, дополнительных необходимых Клиенту услугах.
<p>4.8. Расторжение договора по инициативе Клиента производится на условиях Туроператора, у которого забронирован тур, с применением штрафных санкций в виде неустойки Туроператора.
<p>4.9. При нарушении п. 3.2. настоящего договора договор считается расторгнутым по инициативе Клиента с применением к нему штрафных санкций в виде неустойки в соответствие с условиями Туроператора у которого забронирован турпакет.
<p>Во всем остальном Исполнитель и Клиент руководствуются законодательством РФ.
<h2>5. ОТВЕТСТВЕННОСТЬ СТОРОН:</h2>
<p>5.1. Исполнитель несет ответственность за  исполнение поручения  на условиях Клиента при условии полной оплаты тура в установленные сроки.
<p>5.2. В случае отказа Клиента от тура, независимо от причин, Клиент оплачивает безусловную неустойку на условиях Туроператора, у которого забронирован турпакет. На момент подписания Настоящего договора Клиент ознакомлен с условиями договора, заключенного между Исполнителем и Туроператором, по которому будет осуществляться  бронирование тура Клиента.
<p>5.3. Исполнитель и Туроператор, у которого забронирован турпакет, не несет ответственность перед Клиентом, не возвращает полную или частичную стоимость тура и компенсацию за моральный ущерб при:
<p>5.3.1. Нарушении Клиентом положений настоящего договора, и при невыполнении Клиентом обязательств, изложенных в статье 3 настоящего договора;
<p>5.3.2. Отказе иностранного государства в выдаче въездных виз Клиенту по маршруту Тура, за задержки при рассмотрении документов консульством иностранного государства;
<p>5.3.3. Прохождении Клиентом таможенного, санитарного, пограничного контроля и других служб аэропортов, в том числе, если это связанно с неправильным оформлением или недействительностью паспорта Клиента, либо отсутствием записи о членах семьи в паспорте Клиента или отсутствием или неправильным оформлением доверенностей на несовершеннолетних;
<p>5.3.4. Изменении ценовой политики авиакомпаний, изменения тарифов на забронированные авиабилеты, за задержку вылетов и прилетов, замену типа самолета, отмену рейсов, за доставку и сохранность багажа Клиента;
<p>5.3.5. Возникновении проблем, трудностей и последствий, возникающих у Клиента при утере Клиентом загранпаспорта;
<p>5.3.6. Самостоятельном изменении Клиентом отдельных элементов программы (экскурсионной программы, трансфера, места и уровня проживания, несвоевременной явки к месту сбора группы и др.), вызвавших дополнительные затраты со стороны Клиента;
<p>5.3.7. Несоответствии предоставленных услуг, необоснованным ожиданиям Клиента и его субъективной оценке;
<p>5.3.8. Возникновении проблем, связанных с сохранностью личного багажа, ценностей и документов Клиента в течение всего периода поездки.
<p>5.3.9. Возникновении проблем, связанных с подлинностью документов, предоставляемых Клиентом для оформления и организации туристической поездки (паспорт, справка, доверенность и т.д.) и не несет ответственности за возможные последствия, связанные с этими обстоятельствами.
<p>5.4 Клиент предупрежден  о необходимости принятия собственных мер, направленных на обеспечение сохранности личных вещей, ценностей и документов на всем протяжении поездки.
<p>5.5 Клиент полностью возмещает Исполнителю убытки, связанные с депортацией указанных в п. 2.1 туристов.
<h2>6. ВОЗНАГРАЖДЕНИЕ ИСПОЛНИТЕЛЯ.</h2>
<p>6.2. Комиссионное вознаграждение Исполнителя по договору устанавливается в виде разницы между полученными денежными средствами от Клиента  в оплату заказанных услуг  и денежными средствами, оплаченными поставщику услуг. Вознаграждение самостоятельно удерживается Исполнителем из всей суммы, полученной от Клиента, в соответствии с настоящим Договором.
<p>6.1. Поручение считается исполненным в момент передачи Исполнителем соответствующих документов (ваучер, авиабилет, страховой полис)  Клиенту на основании  Акта об оказании услуг (Приложения №1 к настоящему договору).
<h2>7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ.</h2>
<p>7.1 Настоящий Договор  регулируется и толкуется в соответствии с Законодательством Российской Федерации.
<p>Все споры и разногласия, могущие возникнуть в связи с исполнением своих обязательств, возникших из настоящего договора, а также отдельных приложений к нему, Стороны постараются разрешить путем переговоров. В случае безуспешности таких переговоров спор может быть передан заинтересованной Стороной на рассмотрение в судебных органах по месту нахождения ответчика.
<p>При возникновении претензии со стороны Клиентов к качеству туристского продукта Клиент обязан сообщить об этом Туроператору через гида. При невозможности разрешить проблему на месте гид составляет протокол, заверенный гидом и Туроператором, который служит основанием для получения компенсации от отеля или виновного лица. Претензии по качеству турпродукта от Клиентов принимаются Туроператором в течение 20 (двадцати) календарных дней со дня окончания тура с приложением всех документов, подтверждающих не предоставление или некачественное предоставление туристских услуг.
<p>В случаях неисполнения или ненадлежащего исполнения Туроператора обязательств по оказанию Клиентам услуг, входящих в турпродукт по настоящему Договору, при наличии оснований для уплаты денежной суммы по банковской гарантии Клиент вправе в пределах суммы финансового обеспечения предъявить письменное требование об уплате денежной суммы непосредственно гаранту - организации, предоставившей финансовое обеспечение и указанной в п. 2.1. настоящего Договора. Письменное требование Клиента об уплате денежной суммы по банковской гарантии должно быть предъявлено гаранту в течение срока действия финансового обеспечения. Основанием для уплаты денежной суммы по банковской гарантии является факт установления обязанности Туроператора возместить Клиенту реальный ущерб, возникший в результате неисполнения или ненадлежащего исполнения обязательств, если это является существенным нарушением условий договора.
<p>Право требования денежной компенсации у Клиента от гаранта, выдавшего банковскую гарантию, гарантирующего финансовое обеспечение, возникает после вступления в законную силу решения суда по установлению факта нарушения прав Клиента, в случае отказа Туроператора от исполнения данного судебного решения.
<p>7.2. Сторонами согласовано, что выдача документов (ваучера, авиабилета, страховки) производится Исполнителем или представителем Туроператора накануне начала тура или непосредственно в аэропорту за 3 часа до вылета.
<p>7.3. С момента заключения настоящего договора  вся предшествующая переписка, документы и материалы переговоров между Сторонами по вопросам, являющимся предметом договора, теряют силу. 
<p>7.4. Любые изменения и дополнения к настоящему договору  действительны лишь при условии, если они совершены в  письменной форме и подписаны  обеими Сторонами.
<p>7.5. В случаях, не предусмотренных настоящим договором, применяется Гражданский кодекс РФ.
<p>7.6. Настоящий договор  подписано в 2 (двух) экземплярах, по одному для каждой из Сторон.
<h2>8. РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</h2>
<table width="100%">
<tr>
    <td width="50%">
        ИСПОЛНИТЕЛЬ: {{contract.office.tour_agency.short_name}}<br>
        ИНН/КПП: {{contract.office.tour_agency.inn}}/{{contract.office.tour_agency.kpp}}<br>
        Р/счет: {{contract.office.tour_agency.account}}<br>
        К/счет: {{contract.office.tour_agency.corr_account}}<br>
        Юр. адрес: {{contract.office.tour_agency.post_address}}<br>
        Факт. адрес: {{contract.office.tour_agency.fact_address}}<br>
        Тел.: {{contract.office.tour_agency.phone}}<br>
        E-mail: {{contract.office.tour_agency.email}}<br>
        <br><br>
        
        Директор:________________________/{{contract.office.tour_agency.director.get_fio}}/
    </td>
    <td>
        КЛИЕНТ: {{contract.client.get_full_name}}<br>
        Паспорт: {{contract.client.passport_num}}<br>
        Выдан: {{contract.client.passport_date}} {{contract.client.passport_issued_by}}<br>
        Адрес: {{contract.client.address}}<br>
        Телефон: {{contract.client.phone}}<br>
        E-mail: {{contract.client.email}}<br>
        С условиями договора, правилами аннуляции, программой тура, условиями мед. страхования ознакомлен, памятку туриста получил:<br>
        <br><br>
        ________________________/{{contract.client.get_fio}}/
    </td>
</tr>
</table>
</div>