{% extends 'base.html' %}
{% block title %}Просмотр договора{% endblock %}
{% block content %}

<table>
    <tr><td colspan=4>Просмотр договора № {{contract.contract_num}}</td></tr>
    <tr><td colspan=4>Направление: {{contract.resort}}, {{contract.resort.country}}</td></tr>
    <tr>
        <td>Даты поездки</td>
        <td>с {{contract.tour_begin_date}}</td>
        <td>по {{contract.tour_finish_date}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Даты проживания в отеле</td>
        <td>с {{contract.hotel_begin_date}}</td>
        <td>по {{contract.hotel_finish_date}}</td>
        <td>{{contract.get_hotel_nights}} ночей</td>
    </tr>
</table>

<ul class="errorlist nonfield">Результаты проверок:
{% for warning in contract.get_warnings %}
    <li>{{warning}}</li>
    {% empty %}
{% endfor %}
{% for warning in contract.client.get_warnings %}
    <li>{{contract.client}} - {{warning}}</li>
    {% empty %}
{% endfor %}
{% for tourist in contract.tourist_list.all %}
    <li>{% for warning in tourist.get_warnings %}
            <li><a href="{% url 'yurjin_journal:tourist_edit' tourist.id %}?next={{ request.path }}">{{tourist}}</a> - {{warning}}</li>
            {% empty %}
        {% endfor %}
    </li>
{% endfor %}
</ul> 
    {% if contract.is_printable %}
        <a href="{% url 'yurjin_journal:contract_print' contract.id %}?print_form=contract">Распечатать договор</a></td>
    {% endif %}
    
    {% if contract.doc_issue_date %}
        <a href="{% url 'yurjin_journal:contract_print' contract.id %}?print_form=act">Распечатать акт</a></td>
    {% endif %}    
{% endblock %}