{% extends 'base.html' %}
{% block title %}Туристы{% endblock %}

{% block content %}

    {% include "yurjin_journal/filter_form.html" %}
    
    <a href="{% url 'yurjin_journal:resort_add' %}?next={{ request.path }}" class="addlink">Добавить курорт</a>
    {% if resort_list %}
        <table ><th>Список туристов:</th>
            {% for resort in resort_list %}
                <tr>
                    <td>{{ resort }}</td>
                    {% if perms.yurjin_journal.change_resort %}<td><a href="{% url 'yurjin_journal:resort_edit' resort.id %}?next={{ request.path }}">Изменить</a></td>{% endif %}
                    {% if perms.yurjin_journal.delete_resort %}<td><a href="{% url 'yurjin_journal:resort_delete' resort.id %}?next={{ request.path }}">Удалить</a></td>{% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No resorts.</p>
    {% endif %}
{% endblock %}