{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru"/>
    

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'yurjin_journal/js/jsi18n.js' %}"></script> -->

    <link href="{% static 'admin/css/forms.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/base.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/widgets.css' %}" type="text/css" media="all" rel="stylesheet" />
    
    <!-- <script type="text/javascript" src="/admin/jsi18n/"></script> -->
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    
        
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" media="screen">
		
		
